.home {
    display: grid;
    grid-template-columns: 5.5rem 1fr;
    grid-template-areas: sidbar main;
    height: auto;
    width: auto;
    background-color: #f8f8f8;
  }
  .main {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 13% 43% 44%;
    padding-left: 1rem;
  }